.mainContainer {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(46, 46, 63, 0.7);
  text-align: center;
  padding: 4em 0 4em 0;
  margin-top: 40vh;
}

/* About Container */
.aboutContainer {
  margin-top: 10em;
  width: 100%;
  padding: 4em 0 4em 0;
  background: rgb(46, 46, 63, 0.7);
  text-align: center;
}


